.container-detail-page {

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pokemon-information {
    padding: 1rem;
  }

  .wrapper-information {
    margin-bottom: 1.25rem;
    .list {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .catch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    .text-catch {
      margin-bottom: 1rem;
      color: #5e5e5e;
      animation: .8s shake infinite alternate;

      @keyframes shake {
        0% { transform: skewX(-15deg); }
        5% { transform: skewX(15deg); }
        10% { transform: skewX(-15deg); }
        15% { transform: skewX(15deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
      }
    }

    .img-pokeball {
      cursor: pointer;
    }
  }

  .container-input-username {
    display: flex;
    flex-direction: column;

    .input-username {
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 2px solid #ffde00;
    }
  }

  .modal-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}