.container-detail-page {
  .title-page {
    margin: 1.5rem 2rem;
    text-align: center;
    text-transform: capitalize;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pokemon-information {
    padding: 1rem;
  }

  .wrapper-information {
    margin-bottom: 1.25rem;
    .list {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .catch-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-catch {
      margin-bottom: 1rem;
      color: #b8b8b8;
      animation: .8s shake infinite alternate;

      @keyframes shake {
        0% { transform: skewX(-15deg); }
        5% { transform: skewX(15deg); }
        10% { transform: skewX(-15deg); }
        15% { transform: skewX(15deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
      }
    }

    .img-pokeball {
      cursor: pointer;
    }
  }
}