.container-navbar {
  background-color: #ffde00;
  padding: 1rem 0;
  width: 100%;

  li {
    list-style-type: none;
    padding: 0 2rem;
    color: white;
    text-align: center;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #3B4CCA;

    &:focus, &:active, &:hover {
      text-decoration: underline;
      color: #3B4CCA;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 359px) {
  .container-navbar {
    li {
      padding: 0 1rem;
    }

    img {
      width: 100px;
      height: auto;
    }

    a {
      font-size: 1rem;
    }
  }

}