html, body {
  width: 100%
}

html {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6, h7, p {
  margin: 0;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

a:hover, a:active { text-decoration: none; color:black }