html, body {
  width: 100%
}

html {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6, h7, p {
  margin: 0;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

a:hover, a:active { text-decoration: none; color:black }